/* CUBES */
.cube { position: absolute; top: 80vh; left: 45vw; width: 10px; height: 10px; border: 1px solid rgba(255,255,255,0.08); transform-origin: top left; transform: scale(0) rotate(0deg) translate(-50%, -50%); animation: cube 18s ease-in forwards infinite; opacity: 0.08; }
.cube:nth-child(2n) { border-color: rgba(255,255,255,0.12); }
.cube:nth-child(2) { animation-delay: 2s; left: 25vw; top: 40vh; }
.cube:nth-child(3) { animation-delay: 4s; left: 75vw; top: 50vh; }
.cube:nth-child(4) { animation-delay: 6s; left: 90vw; top: 10vh; }
.cube:nth-child(5) { animation-delay: 8s; left: 10vw; top: 85vh; }
.cube:nth-child(6) { animation-delay: 10s; left: 50vw; top: 10vh; }
@keyframes cube { from { transform: scale(0) rotate(0deg) translate(-50%, -50%); opacity: 0.12; } to { transform: scale(10) rotate(960deg) translate(-50%, -50%); opacity: 0; } }

/* RIPPLE CIRCLES */
.circle{ position: absolute; border-radius: 50%; background: white; animation: ripple 15s infinite; box-shadow: 0px 0px 1px 0px #508fb9; }
.page-bg .circle { filter: blur(2px); opacity: 0.06; }
.small{ width: 200px; height: 200px; left: -100px; bottom: -100px; }
.medium{ width: 400px; height: 400px; left: -200px; bottom: -200px; }
.large{ width: 600px; height: 600px; left: -300px; bottom: -300px; }
.xlarge{ width: 800px; height: 800px; left: -400px; bottom: -400px; }
.xxlarge{ width: 1000px; height: 1000px; left: -500px; bottom: -500px; }
.shade1{ opacity: 0.2; }
.shade2{ opacity: 0.5; }
.shade3{ opacity: 0.7; }
.shade4{ opacity: 0.8; }
.shade5{ opacity: 0.9; }
@keyframes ripple{ 0%{ transform: scale(0.8); } 50%{ transform: scale(1.2); } 100%{ transform: scale(0.8); } }