
/* @import url('https://fonts.googleapis.com/css?family=Montserrat:700'); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

@import 'base.css';
@import 'components.css';
@import 'animations.css';
@import 'theme.css';
